
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}
@using MeditekWeb.Models.Entity
@model List<Unit>

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="/AdminPanelContent/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/AdminPanelContent/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/AdminPanelContent/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}


<div class="col-md-2"></div>
<div class="col-md-9">
    <a class="btn btn-primary my-3" href="/new-unit">Birim Ekle</a>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Birim DataTable</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Birim Resmi</th>
                        <th>Birim Açıklaması</th>
                        <th>Birim Metini</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img style="height:90px;width:90px" src="@item.UNIT_IMG" /></td>
                            <td>@item.UNIT_NAME</td>
                            <td>@item.UNIT_TEXT</td>
                            <td>
                                <form action="/admin-unit" method="post">
                                    <input type="hidden" name="unitId" value="@item.ID" />
                                    <button type="submit" class="btn btn-warning">Sil</button>
                                </form>
                            </td>
                        </tr>

                    }


                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

</div>
@section scripts{
    <script>
        $(function () {

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

    </script>
    <!-- DataTables  & Plugins -->
    <script src="/AdminPanelContent/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/AdminPanelContent/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/AdminPanelContent/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/AdminPanelContent/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/AdminPanelContent/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/AdminPanelContent/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/AdminPanelContent/plugins/jszip/jszip.min.js"></script>
    <script src="/AdminPanelContent/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/AdminPanelContent/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/AdminPanelContent/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/AdminPanelContent/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/AdminPanelContent/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


}

